h1 {
	color: yellow;
}

img {
	height: 500px;
	width: auto;

}

.recipeList {
	background-color: skyblue;
	text-align: center;
}

.recipeList .header {
        font-size: 100px;
}

.recipeList .list {
	font-size: 50px;
}
